.DS_Store
Thumbs.db
.vscode/
.idea/
*.asv
*.mex*
matlab/results/
matlab/raw_iq/
firmware/local/
firmware/original/**/MDK-ARM/build/
matlab/data/
*.mat
*.csv
*.cf32
*.cs8
*.iq
*.bin
*.xlsx
*.xls
*.opju
*.opj
*.uvguix.*
*.uvoptx
*.axf
*.hex
*.o
*.obj
*.map
*.lst
*.d
*.crf
*.build_log.htm
*.log
__pycache__/
